.container {
  margin: auto;
  padding: 40px 0;
  max-width: 500px;
}

.form-container {
  background: white;
  border-radius: 5px;
  padding: 20px;
}

.shadow {
  filter: drop-shadow(0 4px 3px rgb(0 0 0/0.07)) drop-shadow(0 2px 2px rgb(0 0 0/0.06));
}

.form-field {
  width: 100%;
  margin-top: 20px;
}

input {
  width: 100%;
  padding: 12px 12px;
  border-radius: 5px;
  border: 1px solid #95a3b8;
  margin-top: 5px;
}

label {
  display: block;
}

.error {
  margin-top: 4px;
  color: red;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.button {
  font-weight: bold;
  background: #2564eb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 14px 26px;
}
